@import "tailwindcss";


.body{
    @apply bg-blue-100 text-white p-6;
}
.body1{
    @apply text-3xl font-bold mb-6 text-center;
}

.main{
    @apply max-w-4xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-6 bg-blue 
}

.section{
    @apply space-y-4 bg-blue-100
}

.div{
    @apply bg-black p-5 shadow rounded-xl;
}

.div1{
    @apply text-xl font-semibold mb-4;
}

.div2{
@apply flex justify-between items-center;
}

.div3{
    @apply text-xl font-semibold
}

.div4{
    @apply text-blue-600 font-medium
}